%p#notice= notice

%p
  %b Title:
  = @exam.title
%p
  %b Caption:
  = @exam.caption
%p
  %b Discription:
  = @exam.discription

= link_to 'Edit', edit_exam_path(@exam)
\|
= link_to 'Back', exams_path
